{% extends 'base.html' %}

{% block content %}

<!-- About Section -->
<div class="w3-container w3-padding-32 w3-center">  
    <h3>About Me</h3><br>
    <div class="w3-padding-32">
      <h4><b>I am Who I Am!</b></h4>
      <p>Hello, my name is Michael. I created this Web Application to help give people an easier time to decide where to eat. Using Yelp's REST API, SQLite, and Django I was able use my skills to accomplish this goal and I am excited to see how many people it could potentially help in the future on their decsion of where to eat.</p>
    </div>
  </div>
  <hr>

{% endblock %}

